@model CIS_174_Project.Models.Olympics.CountriesViewModel

@using CIS_174_Project.Models.Olympics;
@{
    Layout = "~/Views/Shared/_LayoutOlympics.cshtml";
    ViewData["Title"] = "Olympic Games Countries";
}
<div class="row">
    <div class="col-md-3">
        <h3 class="mt-3">Sport Type</h3>
        <div class="list-group">
            <a asp-action="Countries" 
                asp-route-activeSportType="all" 
                asp-route-activeGameType="@Model.ActiveGameType"
               class="list-group-item @Model.CheckActiveSportType("all")">All</a>

            @foreach (SportType type in Model.SportTypes) {
                <a asp-action="Countries"
                   asp-route-activeSportType="@type.SportTypeID"
                   asp-route-activeGameType="@Model.ActiveGameType"
                   class="list-group-item @Model.CheckActiveSportType(type.SportTypeID)">@type.Name</a>
            }
        </div>

        <h3 class="mt-3">Game Type</h3>
        <div class="list-group">
            <a asp-action="Countries"
               asp-route-activeSportType="@Model.ActiveSportType"
               asp-route-activeGameType="all"
               class="list-group-item @Model.CheckActiveGameType("all")">All</a>

            @foreach (GameType type in Model.GameTypes)
            {
                <a asp-action="Countries"
                   asp-route-activeSportType="@Model.ActiveSportType"
                   asp-route-activeGameType="@type.GameTypeID"
                   class="list-group-item @Model.CheckActiveGameType(type.GameTypeID)">@type.Name</a>
            }
        </div>
    </div>
    <div class="col-md-9">
        <ul class="list-inline">
            @foreach (Country country in Model.Countries) {
                <li class="list-inline-item">
                    <a asp-action="Details" asp-route-id="@country.CountryID">
                        <img src="~/images/olympics/@Url.Content(country.CountryFlag)" alt="@country.Name" title="@country.Name | @country.SportType.Name @country.GameType.Name" />
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
